<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Billboard
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2 style="display: flex; justify-content: center;">Hot 100</h2>
    <div *ngIf="songs.length > 0">
        <div class="custom-card-deck">
            <ion-list>
                <ion-item *ngFor="let song of songs; let i = index">
                    <ion-card class="custom-card" style="width: 100%; margin: 0 auto;">
                        <ion-card-content>
                            <ul>
                                <ion-card>
                                    <ion-item>
                                        <ion-label>{{ song.name }} - {{ song.artist }}</ion-label>
                                        <ion-button fill="outline" slot="end" (click)="openSong(song.url) ">Listen</ion-button>
                                    </ion-item>
                                </ion-card>
                            </ul>
                        </ion-card-content>
                    </ion-card>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <div *ngIf="songs.length==0" style="margin-top: 2em; display: flex; justify-content: center;">
        <h3 class="center">Loading Billboard Hot 100...</h3>
    </div>
</ion-content>